.date {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(39, 74, 189);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: white;
  align-items: center;
}

.expense-date__year {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  text-align: center;
}

.expense-date__year span {
  font-size: 15px;
  font-weight: bold;
}

.expense-date__month {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  text-align: center;
}

.expense-date__month span {
  font-size: 23px;
  font-weight: bold;
}

.expense-date__day {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  text-align: center;
}

.expense-date__day span {
  font-size: 15px;
  font-weight: bold;
}

span {
  width: 100%;
}
