.expense-form {
  width: 45%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.expense-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-label-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0px;
}

.input-label-area label {
  width: 10%;
  font-weight: bold;
}

.input-label-area input {
  width: 85%;
}
